body {
font-family: Arial;
background-color: #f2f2f2;
}
h2 {
color: darkblue;
font-weight: bold;
}
#result {
margin-top: 15px;
color: darkgreen;
font-size: 20px;
font-weight: bold;
border: 2px solid darkgreen;
padding: 5px;
}
#monumentImage {
margin-top: 10px;
width: 250px;
border: 2px solid #444;
display: none;
}
