body {
font-family: Arial;
background-color: #f2f2f2;
text-align: center;
}
h2 {
color: darkblue;
font-weight: bold;
}
#result {
margin-top: 20px;
color: darkgreen;
font-size: 22px;
font-weight: bold;
border: 2px solid darkgreen;
padding: 5px;
}
